<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<global-method-security secured-annotations="enabled" />
	<http use-expressions="true">
		<intercept-url pattern="/admin/**"
			access="hasAnyRole('ROLE_ADMIN','ROLE_PL','ROLE_EE','ROLE_PVC','ROLE_DLT')" />
		<form-login login-page="/login" username-parameter="j_username"
			password-parameter="j_password" login-processing-url="/j_spring_security_check"
			default-target-url="/admin/home" authentication-failure-url="/error1" />
		<access-denied-handler error-page="/accessDenied" />
		<logout logout-url="/j_spring_security_logout"
			logout-success-url="/login"></logout>
		<csrf disabled="true" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>

	<!-- Bean Encoder -->
	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength" value="11" />
	</beans:bean>

</beans:beans>